body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url('https://media-hosting.imagekit.io//f11d9a0a09094fc7/Untitled%20Project.jpg?Expires=1834075388&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=yJhQjJ~BH1~66p3WY5Q5VpWO8fgdSrixwciTkZyHp~L8TScNa-pusRoKIMa8UGMGL5hg8hOVuVMJLkIEIHLAL-h5sTBx6eFaNzZBfFGZZy35IlUVUitluikR3B94TlRuxdNOuNw1K3dbrzxWdNUuxoM-cBGrRQyXgu-TRufqHuX3dX6zixiUp1MnLC2hdd3qMNh~xs1WPoFUnpp4VjdkhQNu0EYEDcHp5Q2QAstPHCB3Ed61XJn6bI5ioXFX0KafCyTRd3s8AqJkkGZOKLUMAlRn7HBobVdp-R6CzTREaSrrsbR7DqUofDo3WnTS-nQspww2PT-SKQI3LBOUBKt9qw__');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    width: fit-content; /* Make the background fit the text */
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: #ffffff;
    color: rgb(233, 48, 48);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
    body {
        height: 100vh;
    }

    .header_text {
        font-size: 20px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 10px 18px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    body {
        height: 90vh;
    }

    .header_text {
        font-size: 28px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 15px 25px;
        font-size: 14px;
    }
}
